/* ------------------------------------------------------
   CSS STYLESHEET FOR DVBENTHEM-SITE
   Created by Danny van Benthem
   ------------------------------------------------------ */


/* CUSTOM PROPERTIES */
:root {
	--primary-color: #272524; /* Tomato */
	--secondary-color: #4682b4; /* Steel Blue */
	--background-color: #f0f8ff; /* Alice Blue */
	--text-color: #333333; /* Dark Gray */
	--link-color: #1e90ff; /* Dodger Blue */
}

/* RESET / BASIC STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px; /* Base font size */
	scroll-behavior: smooth; /* Smooth scrolling */
	height: 100%; /* Full height for body */
}
body{
	background-color: var(--primary-color);

	color: var(--text-color);
	font-family: Arial, sans-serif;
	line-height: 1.6;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full viewport height */
}
h1{
	background-color: rgb(59, 59, 59);
	font-family: "Major Mono Display", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	color: #f0f8ff;
	text-align: center;
	border-radius: 100px;
	padding: 0 45px;
}

/* REUSABLE CLASSES */

/* ------------------------------------------------------*/

/* PROJECT STYLES */

/* MOBILE (FIRST) -> [SCREEN SIZE: 375px] */
@media (min-width: 425px){}

/* SMALL TABLET STYLES -> [SCREENSIZE: 768px] */
@media (min-width: 768px){}

/* LARGE TABLETS & LAPTOP STYLES -> [SCREENSIZE: 1024px] */
@media (min-width: 1024px){}

/* LARGE LAPTOP & DESKTOP STYLES -> [SCREENSIZE: 1440px] */
@media (min-width: 1440px){}